/* Estilos CSS */
        body {
            background: #f4f5f7;
            margin: 0;
            padding: 0;
        }
        h2,h3{
            color: #ff3b9b;
            font-weight: 800;
        }
        header {
            text-align: center;
            margin-bottom: 40px;
        }

        header h1 {
            margin: 0;
            font-size: 1.8rem;
        }

        header p {
            margin: 4px;
            font-size: 1.2rem;
            color: #6b7280;
        }

        .cont{
            background-color: white;
            padding: 7rem;
            border-radius: 12px;
        }
        #noteInput{
            border: solid #ff3b9b;
            padding-left: 10px;
            border-radius: 10px;
            height: 8vh;
            width: 240px;
        }
        ::placeholder {
            color: #999;
            font-style: italic;
            padding-left: 10px;
        }
        #addButton{
            background-color: #f50b80; 
            color: white;
            padding: 10px 20px;
            border: none; 
            border-radius: 8px; 
            font-size: 16px;
            cursor: pointer; 

        }
        #addButton:hover {
            background-color: #d49ad1;
            transition:0.5s ease;
        }
        li{
            list-style: none;
            background-color: #9ab5d46b;
            margin: 0;
            margin-bottom: 10px;
            padding: 10px;
        }

        input.checkbox-btn {
            width: 20px;
            height: 20px;
            margin-top: 20px;
        }

        button.delete-btn {
            background-color: #007bff;
            color: white;
            margin-left: 1rem;
            padding: 5px 10px;
            border: 2px solid #0056b3;
            border-radius: 8px;
            cursor: pointer;
            font-size: 16px;
        }
        button.delete-btn:hover {
            background-color: #3F51B5;
            border: 1px solid white;
            transition:0.3s ease;
        }
       
