/* Estilos personalizados */

body {
           
  font-family: 'Arial', sans-serif;
  background-color: #f4f7f6; 
  margin: 0;
  padding: 0;
}        
h1,h2,h3{
  color: #3f51b5;
  font-weight: 800;
}
h4 {
    color: #818181;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
header {
  text-align: center;
  padding: 40px;
}

header h1 {
  margin: 0;
        
}

header p {
  margin: 4px;
  font-size: 1.5rem;
  color: #6b7280;
}


.cont-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.form-e {
  margin-bottom: 20px;
  text-align: left;
}

.form-e label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
  font-size: 16px;
  transition: border-color 0.3s ease;
  margin-bottom: 2rem;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  outline: none;
  border-color: #007bff; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}
.btn-form {
  background-color: #3f51b5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
}

.filters{
    max-width: 500px;
    width: 100%;
    margin-top: 45px;
    margin-bottom: 30px;
}
.filters label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.studentList {
    font-family: Arial, sans-serif;
    width: 80%;
    margin: 20px auto; 
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
}

.studentList h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
table {
    width: 100%;
    margin-bottom: 60px;
         
}
.cont-head {
    background: #111827;
    color: #f3f4f6;
}
.cont-head th {
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    text-align: center;
    text-transform: uppercase;

}
.studentList tr {
    list-style: none; 
    padding: 0;
}

.studentList td {
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s;
    text-align: center;
}

.studentList tr:last-child {
    border-bottom: none;
}

.studentList tr:hover {
    background-color: #e9e9e9; 
}
.btn-list{
  width: 80px;
  padding: 5px;
}
.edit-btn{

  background-color: #038535;

}

.delete-btn{

  background-color: #c91414;
}